body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23553_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:1202px;
  height:1246px;
}
#u23553 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:60px;
  width:1200px;
  height:1244px;
}
#u23553_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23555_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:1202px;
  height:42px;
}
#u23555 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1200px;
  height:40px;
}
#u23555_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23557 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:22px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:10px;
}
#u23558 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:25px;
  width:13px;
  height:10px;
}
#u23558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u23559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
#u23559 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:26px;
  width:6px;
  height:10px;
  text-decoration:underline;
}
#u23559_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23560 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:22px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
#u23561 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:26px;
  width:6px;
  height:10px;
  text-decoration:underline;
}
#u23561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23562 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:23px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
#u23563 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:26px;
  width:6px;
  height:10px;
  text-decoration:underline;
}
#u23563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23564 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:23px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#639BDF;
}
#u23565 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:328px;
  width:1059px;
  height:17px;
  text-decoration:underline;
  color:#639BDF;
}
#u23565_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  word-wrap:break-word;
}
#u23566 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:355px;
  width:977px;
  height:205px;
}
#u23567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23567_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u23568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u23568 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:77px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23568_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u23569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u23569 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:0px;
  width:88px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23569_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u23570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u23570 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:0px;
  width:198px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23570_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  word-wrap:break-word;
}
#u23571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:40px;
}
#u23571 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:0px;
  width:440px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23571_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:436px;
  word-wrap:break-word;
}
#u23572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u23572 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:0px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23572_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u23573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:44px;
}
#u23573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:40px;
  height:44px;
  text-align:left;
}
#u23573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:44px;
}
#u23574 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:77px;
  height:44px;
  text-align:left;
}
#u23574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
}
#u23575 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:40px;
  width:88px;
  height:44px;
  text-decoration:underline;
  color:#428BCA;
  text-align:left;
}
#u23575_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:84px;
  word-wrap:break-word;
}
#u23576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:44px;
}
#u23576 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:40px;
  width:198px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u23576_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:194px;
  word-wrap:break-word;
}
#u23577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:44px;
}
#u23577 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:40px;
  width:440px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u23577_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:436px;
  word-wrap:break-word;
}
#u23578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:44px;
}
#u23578 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:40px;
  width:134px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23578_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:130px;
  word-wrap:break-word;
}
#u23579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:40px;
  height:40px;
  text-align:left;
}
#u23579_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u23580 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:84px;
  width:77px;
  height:40px;
  text-align:left;
}
#u23580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u23581 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:84px;
  width:88px;
  height:40px;
  text-decoration:underline;
  color:#428BCA;
  text-align:left;
}
#u23581_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u23582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u23582 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:84px;
  width:198px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u23582_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  word-wrap:break-word;
}
#u23583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:40px;
}
#u23583 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:84px;
  width:440px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u23583_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:436px;
  word-wrap:break-word;
}
#u23584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u23584 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:84px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23584_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u23585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:40px;
  height:40px;
  text-align:left;
}
#u23585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u23586 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:124px;
  width:77px;
  height:40px;
  text-align:left;
}
#u23586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u23587 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:124px;
  width:88px;
  height:40px;
  text-decoration:underline;
  color:#428BCA;
  text-align:left;
}
#u23587_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u23588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
}
#u23588 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:124px;
  width:198px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u23588_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  word-wrap:break-word;
}
#u23589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:40px;
}
#u23589 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:124px;
  width:440px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u23589_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:436px;
  word-wrap:break-word;
}
#u23590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:40px;
}
#u23590 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:124px;
  width:134px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u23591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u23591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:40px;
  height:41px;
  text-align:left;
}
#u23591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:41px;
}
#u23592 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:164px;
  width:77px;
  height:41px;
  text-align:left;
}
#u23592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:41px;
}
#u23593 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:164px;
  width:88px;
  height:41px;
  text-decoration:underline;
  color:#428BCA;
  text-align:left;
}
#u23593_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u23594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:41px;
}
#u23594 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:164px;
  width:198px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u23594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:194px;
  word-wrap:break-word;
}
#u23595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:41px;
}
#u23595 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:164px;
  width:440px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u23595_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:436px;
  word-wrap:break-word;
}
#u23596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:41px;
}
#u23596 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:164px;
  width:134px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23596_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:130px;
  word-wrap:break-word;
}
#u23597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 204, 0, 0.517647058823529);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23597 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:448px;
  width:44px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23597_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u23598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(204, 0, 0, 0.427450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23598 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:406px;
  width:44px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u23599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 204, 0, 0.517647058823529);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23599 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:488px;
  width:44px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23599_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u23600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 204, 0, 0.517647058823529);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23600 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:530px;
  width:44px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23600_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u23601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:70px;
}
#u23602 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:328px;
  width:216px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u23603_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:14px;
  height:12px;
}
#u23603 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:395px;
  width:12px;
  height:10px;
}
#u23603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23604 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:328px;
  width:75px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u23605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23605 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:368px;
  width:75px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u23606 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:405px;
  width:84px;
  height:154px;
  overflow:hidden;
}
#u23606_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:154px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23606_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#639BDF;
}
#u23607 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:588px;
  width:1059px;
  height:17px;
  text-decoration:underline;
  color:#639BDF;
}
#u23607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  word-wrap:break-word;
}
#u23608 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:615px;
  width:977px;
  height:204px;
}
#u23609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23609_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u23610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u23610 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:77px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23610_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u23611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u23611 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:0px;
  width:88px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u23612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
}
#u23612 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:0px;
  width:199px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u23613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:40px;
}
#u23613 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:0px;
  width:441px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:437px;
  word-wrap:break-word;
}
#u23614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u23614 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:0px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u23615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:44px;
}
#u23615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:40px;
  height:44px;
  text-align:left;
}
#u23615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:44px;
}
#u23616 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:77px;
  height:44px;
  text-align:left;
}
#u23616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:44px;
}
#u23617 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:40px;
  width:88px;
  height:44px;
  text-decoration:underline;
  color:#428BCA;
  text-align:left;
}
#u23617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:84px;
  word-wrap:break-word;
}
#u23618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:44px;
}
#u23618 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:40px;
  width:199px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u23618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:195px;
  word-wrap:break-word;
}
#u23619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:44px;
}
#u23619 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:40px;
  width:441px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u23619_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:437px;
  word-wrap:break-word;
}
#u23620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:44px;
}
#u23620 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:40px;
  width:132px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u23621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u23621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:40px;
  height:41px;
  text-align:left;
}
#u23621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:41px;
}
#u23622 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:84px;
  width:77px;
  height:41px;
  text-align:left;
}
#u23622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:41px;
}
#u23623 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:84px;
  width:88px;
  height:41px;
  text-decoration:underline;
  color:#428BCA;
  text-align:left;
}
#u23623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u23624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:41px;
}
#u23624 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:84px;
  width:199px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u23624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u23625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:41px;
}
#u23625 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:84px;
  width:441px;
  height:41px;
  color:#000000;
  text-align:left;
}
#u23625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:437px;
  word-wrap:break-word;
}
#u23626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:41px;
}
#u23626 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:84px;
  width:132px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23626_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u23627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:125px;
  width:40px;
  height:40px;
  text-align:left;
}
#u23627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u23628 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:125px;
  width:77px;
  height:40px;
  text-align:left;
}
#u23628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u23629 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:125px;
  width:88px;
  height:40px;
  text-decoration:underline;
  color:#428BCA;
  text-align:left;
}
#u23629_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u23630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
}
#u23630 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:125px;
  width:199px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u23630_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u23631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:40px;
}
#u23631 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:125px;
  width:441px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u23631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:437px;
  word-wrap:break-word;
}
#u23632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
}
#u23632 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:125px;
  width:132px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u23633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u23633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:165px;
  width:40px;
  height:39px;
  text-align:left;
}
#u23633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:39px;
}
#u23634 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:165px;
  width:77px;
  height:39px;
  text-align:left;
}
#u23634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:39px;
}
#u23635 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:165px;
  width:88px;
  height:39px;
  text-decoration:underline;
  color:#428BCA;
  text-align:left;
}
#u23635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u23636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:39px;
}
#u23636 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:165px;
  width:199px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u23636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  word-wrap:break-word;
}
#u23637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:39px;
}
#u23637 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:165px;
  width:441px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u23637_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:437px;
  word-wrap:break-word;
}
#u23638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:39px;
}
#u23638 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:165px;
  width:132px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23638_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u23639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 204, 0, 0.517647058823529);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23639 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:708px;
  width:44px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u23640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(204, 0, 0, 0.427450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 0, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23640 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:666px;
  width:44px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u23641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 204, 0, 0.517647058823529);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23641 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:748px;
  width:44px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u23642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 204, 0, 0.517647058823529);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 0, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23642 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:790px;
  width:44px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u23642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u23643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:70px;
}
#u23644 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:588px;
  width:216px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u23645_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:14px;
  height:12px;
}
#u23645 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:655px;
  width:12px;
  height:10px;
}
#u23645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23646 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:588px;
  width:75px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u23647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23647 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:628px;
  width:75px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u23648 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:665px;
  width:84px;
  height:154px;
  overflow:hidden;
}
#u23648_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:154px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23648_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23649 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:98px;
  width:768px;
  height:160px;
}
#u23650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u23650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23650_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u23651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:40px;
}
#u23651 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:284px;
  height:40px;
  text-align:left;
}
#u23651_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:264px;
  word-wrap:break-word;
}
#u23652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u23652 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23652_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u23653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:40px;
}
#u23653 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:0px;
  width:284px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23653_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:264px;
  word-wrap:break-word;
}
#u23654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u23654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23654_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u23655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:40px;
}
#u23655 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:40px;
  width:284px;
  height:40px;
  text-align:left;
}
#u23655_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:264px;
  word-wrap:break-word;
}
#u23656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u23656 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:40px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23656_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u23657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:40px;
}
#u23657 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:40px;
  width:284px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23657_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:264px;
  word-wrap:break-word;
}
#u23658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u23658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23658_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u23659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:40px;
}
#u23659 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:80px;
  width:284px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23659_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:264px;
  word-wrap:break-word;
}
#u23660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u23660 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:80px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23660_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u23661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:40px;
}
#u23661 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:80px;
  width:284px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23661_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:264px;
  word-wrap:break-word;
}
#u23662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u23662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23662_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u23663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:40px;
}
#u23663 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:120px;
  width:284px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23663_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:264px;
  word-wrap:break-word;
}
#u23664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u23664 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:120px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u23664_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u23665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:40px;
}
#u23665 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:120px;
  width:284px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23665_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:264px;
  word-wrap:break-word;
}
#u23666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23666 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:328px;
  width:89px;
  height:18px;
}
#u23666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u23667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23667 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:588px;
  width:88px;
  height:17px;
}
#u23667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u23668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:107px;
}
#u23669 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:124px;
  width:107px;
  height:107px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u23669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u23670 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:128px;
  width:96px;
  height:96px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2681F6;
}
#u23670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:92px;
  word-wrap:break-word;
}
#u23671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:126px;
}
#u23671 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:60px;
  width:43px;
  height:126px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:126px;
}
#u23672 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:60px;
  width:43px;
  height:126px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23673 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:74px;
  width:17px;
  height:88px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u23674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23674 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:77px;
  width:17px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
