body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:940px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22656_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:942px;
  height:482px;
}
#u22656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:480px;
}
#u22656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22657 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:919px;
  height:396px;
  overflow:hidden;
}
#u22657_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:396px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u22657_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:918px;
  height:440px;
}
#u22659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u22659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22660 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:0px;
  width:109px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u22660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22661 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u22661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22662 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u22662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22663 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u22663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22664 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u22664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22665 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u22665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22666 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u22666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22667 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u22667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:109px;
  height:40px;
  font-family:'.PingFangSC-Regular', '.PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:underline;
  color:#00A0F5;
  text-align:left;
}
#u22668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:105px;
  word-wrap:break-word;
}
#u22669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22669 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:40px;
  width:109px;
  height:40px;
  text-decoration:underline;
  color:#428BCA;
}
#u22669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22670 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:40px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22671 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:40px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22672 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:40px;
  width:100px;
  height:40px;
}
#u22672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22673 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:40px;
  width:100px;
  height:40px;
}
#u22673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22674 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:40px;
  width:100px;
  height:40px;
}
#u22674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22675 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:40px;
  width:100px;
  height:40px;
}
#u22675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22676 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:40px;
  width:100px;
  height:40px;
}
#u22676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:109px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#00A0F5;
  text-align:left;
}
#u22677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22678 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:80px;
  width:109px;
  height:40px;
  text-decoration:underline;
  color:#428BCA;
}
#u22678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22679 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:80px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22680 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:80px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22681 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:80px;
  width:100px;
  height:40px;
}
#u22681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22682 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:80px;
  width:100px;
  height:40px;
}
#u22682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22683 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:80px;
  width:100px;
  height:40px;
}
#u22683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22684 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:80px;
  width:100px;
  height:40px;
}
#u22684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22685 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:80px;
  width:100px;
  height:40px;
}
#u22685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:109px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#00A0F5;
  text-align:left;
}
#u22686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22687 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:120px;
  width:109px;
  height:40px;
  text-decoration:underline;
  color:#428BCA;
}
#u22687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22688 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:120px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22689 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:120px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22690 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:120px;
  width:100px;
  height:40px;
}
#u22690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22691 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:120px;
  width:100px;
  height:40px;
}
#u22691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22692 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:120px;
  width:100px;
  height:40px;
}
#u22692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22693 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:120px;
  width:100px;
  height:40px;
}
#u22693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22694 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:120px;
  width:100px;
  height:40px;
}
#u22694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:109px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#00A0F5;
  text-align:left;
}
#u22695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22696 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:160px;
  width:109px;
  height:40px;
  text-decoration:underline;
  color:#428BCA;
}
#u22696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22697 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:160px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22698 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:160px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22699 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:160px;
  width:100px;
  height:40px;
}
#u22699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22700 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:160px;
  width:100px;
  height:40px;
}
#u22700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22701 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:160px;
  width:100px;
  height:40px;
}
#u22701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22702 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:160px;
  width:100px;
  height:40px;
}
#u22702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22703 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:160px;
  width:100px;
  height:40px;
}
#u22703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:109px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#00A0F5;
  text-align:left;
}
#u22704_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22705 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:200px;
  width:109px;
  height:40px;
  text-decoration:underline;
  color:#428BCA;
}
#u22705_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22706 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:200px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22707 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:200px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22708 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:200px;
  width:100px;
  height:40px;
}
#u22708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22709 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:200px;
  width:100px;
  height:40px;
}
#u22709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22710 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:200px;
  width:100px;
  height:40px;
}
#u22710_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22711 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:200px;
  width:100px;
  height:40px;
}
#u22711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22712 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:200px;
  width:100px;
  height:40px;
}
#u22712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:109px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#00A0F5;
  text-align:left;
}
#u22713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22714 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:240px;
  width:109px;
  height:40px;
  text-decoration:underline;
  color:#428BCA;
}
#u22714_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22715 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:240px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22716 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:240px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22717 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:240px;
  width:100px;
  height:40px;
}
#u22717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22718 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:240px;
  width:100px;
  height:40px;
}
#u22718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22719 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:240px;
  width:100px;
  height:40px;
}
#u22719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22720 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:240px;
  width:100px;
  height:40px;
}
#u22720_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22721 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:240px;
  width:100px;
  height:40px;
}
#u22721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:109px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#00A0F5;
  text-align:left;
}
#u22722_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22723 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:280px;
  width:109px;
  height:40px;
  text-decoration:underline;
  color:#428BCA;
}
#u22723_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22724 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:280px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22725 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:280px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22726 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:280px;
  width:100px;
  height:40px;
}
#u22726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22727 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:280px;
  width:100px;
  height:40px;
}
#u22727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22728 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:280px;
  width:100px;
  height:40px;
}
#u22728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22729 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:280px;
  width:100px;
  height:40px;
}
#u22729_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22730 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:280px;
  width:100px;
  height:40px;
}
#u22730_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:109px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#00A0F5;
  text-align:left;
}
#u22731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22732 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:320px;
  width:109px;
  height:40px;
  text-decoration:underline;
  color:#428BCA;
}
#u22732_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22733 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:320px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22734 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:320px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22734_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22735 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:320px;
  width:100px;
  height:40px;
}
#u22735_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22736 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:320px;
  width:100px;
  height:40px;
}
#u22736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22737 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:320px;
  width:100px;
  height:40px;
}
#u22737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22738 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:320px;
  width:100px;
  height:40px;
}
#u22738_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22739 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:320px;
  width:100px;
  height:40px;
}
#u22739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:109px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#00A0F5;
  text-align:left;
}
#u22740_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22741 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:360px;
  width:109px;
  height:40px;
  text-decoration:underline;
  color:#428BCA;
}
#u22741_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22742 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:360px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22742_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22743 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:360px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22743_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22744 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:360px;
  width:100px;
  height:40px;
}
#u22744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22745 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:360px;
  width:100px;
  height:40px;
}
#u22745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22746 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:360px;
  width:100px;
  height:40px;
}
#u22746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22747 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:360px;
  width:100px;
  height:40px;
}
#u22747_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22748 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:360px;
  width:100px;
  height:40px;
}
#u22748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:109px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#00A0F5;
  text-align:left;
}
#u22749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u22750 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:400px;
  width:109px;
  height:40px;
  text-decoration:underline;
  color:#428BCA;
}
#u22750_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u22751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22751 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:400px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22752 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:400px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22752_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22753 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:400px;
  width:100px;
  height:40px;
}
#u22753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22754 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:400px;
  width:100px;
  height:40px;
}
#u22754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u22755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22755 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:400px;
  width:100px;
  height:40px;
}
#u22755_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22756 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:400px;
  width:100px;
  height:40px;
}
#u22756_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u22757 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:400px;
  width:100px;
  height:40px;
}
#u22757_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u22758 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:49px;
  width:100px;
  height:401px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22759 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:132px;
  width:107px;
  height:319px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22760 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:50px;
  width:107px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22657_ann {
  border-width:0px;
  position:absolute;
  left:922px;
  top:6px;
  width:1px;
  height:1px;
}
#u22761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:919px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22761 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:407px;
  width:919px;
  height:31px;
}
#u22761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:915px;
  word-wrap:break-word;
}
#u22761_ann {
  border-width:0px;
  position:absolute;
  left:922px;
  top:403px;
  width:1px;
  height:1px;
}
#u22762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22763 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:449px;
  width:57px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22763_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:53px;
  word-wrap:break-word;
}
#u22764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 160, 245, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22764 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:449px;
  width:57px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22764_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:53px;
  word-wrap:break-word;
}
#u22764_ann {
  border-width:0px;
  position:absolute;
  left:549px;
  top:445px;
  width:1px;
  height:1px;
}
#u22766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:63px;
}
#u22767 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:379px;
  width:109px;
  height:63px;
}
#u22767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22768_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:14px;
  height:12px;
}
#u22768 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:439px;
  width:12px;
  height:10px;
}
#u22768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22770 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:387px;
  width:55px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u22771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.349019607843137);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u22772 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:412px;
  width:34px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u22772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u22773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 160, 245, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22773 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:412px;
  width:34px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
