body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:540px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14893_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:542px;
  height:262px;
}
#u14893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:260px;
}
#u14893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14894 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:37px;
  width:479px;
  height:179px;
}
#u14895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u14895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u14895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u14896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u14896 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:0px;
  width:124px;
  height:30px;
}
#u14896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u14897 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:99px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u14898 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:0px;
  width:150px;
  height:30px;
}
#u14898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
}
#u14899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:106px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u14899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:38px;
}
#u14900 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:30px;
  width:124px;
  height:38px;
}
#u14900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:38px;
}
#u14901 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:30px;
  width:99px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:38px;
}
#u14902 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:30px;
  width:150px;
  height:38px;
}
#u14902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:111px;
}
#u14903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:106px;
  height:111px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u14903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:102px;
  word-wrap:break-word;
}
#u14904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:111px;
}
#u14904 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:68px;
  width:124px;
  height:111px;
}
#u14904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:111px;
}
#u14905 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:68px;
  width:99px;
  height:111px;
}
#u14905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:111px;
}
#u14906 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:68px;
  width:150px;
  height:111px;
}
#u14906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14907 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:107px;
  width:367px;
  height:110px;
}
#u14907_input {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:110px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 160, 245, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14908 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:227px;
  width:57px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:53px;
  word-wrap:break-word;
}
#u14908_ann {
  border-width:0px;
  position:absolute;
  left:244px;
  top:223px;
  width:1px;
  height:1px;
}
#u14909 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:33px;
  width:130px;
  height:35px;
}
#u14909_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:35px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u14909_input:disabled {
  color:grayText;
}
#u14910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14910 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:227px;
  width:57px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:53px;
  word-wrap:break-word;
}
#u14912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:63px;
}
#u14913 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:157px;
  width:109px;
  height:63px;
}
#u14913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14914_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:14px;
  height:12px;
}
#u14914 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:217px;
  width:12px;
  height:10px;
}
#u14914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14916 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:165px;
  width:55px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.349019607843137);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u14918 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:190px;
  width:34px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u14918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u14919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 160, 245, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14919 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:190px;
  width:34px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u14920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14920 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:68px;
  width:94px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14920_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:94px;
  word-wrap:break-word;
}
#u14921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-style:normal;
}
#u14921 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:8px;
  width:140px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-style:normal;
}
#u14921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u14921_ann {
  border-width:0px;
  position:absolute;
  left:164px;
  top:4px;
  width:1px;
  height:1px;
}
#u14922 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:78px;
  width:100px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14922_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14922_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14923 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:78px;
  width:100px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14923_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14923_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
