body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:314px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23338_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:316px;
  height:152px;
}
#u23338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:150px;
}
#u23338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23339 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:14px;
  width:228px;
  height:80px;
}
#u23339_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:80px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23340 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:46px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23341 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:111px;
  width:57px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23341_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:53px;
  word-wrap:break-word;
}
#u23342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 160, 245, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23342 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:111px;
  width:57px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23342_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:53px;
  word-wrap:break-word;
}
#u23342_ann {
  border-width:0px;
  position:absolute;
  left:210px;
  top:107px;
  width:1px;
  height:1px;
}
