body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-10px;
  width:1213px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33599_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:1202px;
  height:42px;
}
#u33599 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1200px;
  height:40px;
}
#u33599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u33601 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:22px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u33601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u33602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:10px;
}
#u33602 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:25px;
  width:13px;
  height:10px;
}
#u33602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u33603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
#u33604 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:26px;
  width:6px;
  height:10px;
  text-decoration:underline;
}
#u33604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33605 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:23px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u33606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
#u33607 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:26px;
  width:6px;
  height:10px;
  text-decoration:underline;
}
#u33607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33608 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:23px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u33609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:420px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:0px 1px 1px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:0px 1px 1px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:0px 1px 1px rgba(201, 201, 201, 0.349019607843137);
  color:#FFFFFF;
}
#u33609 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:60px;
  width:1200px;
  height:420px;
  color:#FFFFFF;
}
#u33609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u33611 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:74px;
  width:12px;
  height:12px;
}
#u33611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33612 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:72px;
  width:487px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  white-space:nowrap;
}
#u33613 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:134px;
  width:312px;
  height:280px;
}
#u33613_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u33615 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u33615_img.selected {
}
#u33615.selected {
}
#u33615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33616 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:290px;
  height:20px;
}
#u33616_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:285px;
  white-space:nowrap;
}
#u33614_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33617 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:220px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33618 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:198px;
  height:20px;
}
#u33618_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:193px;
  white-space:nowrap;
}
#u33619 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:220px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33620 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:198px;
  height:20px;
}
#u33620_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:193px;
  white-space:nowrap;
}
#u33621 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:220px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33622 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:198px;
  height:20px;
}
#u33622_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:193px;
  white-space:nowrap;
}
#u33623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:312px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u33624 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u33624_img.selected {
}
#u33624.selected {
}
#u33624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33625 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:290px;
  height:20px;
}
#u33625_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:285px;
  white-space:nowrap;
}
#u33623_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33626 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:220px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33627 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:198px;
  height:20px;
}
#u33627_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:193px;
  white-space:nowrap;
}
#u33628 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:220px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33629 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:198px;
  height:20px;
}
#u33629_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:193px;
  white-space:nowrap;
}
#u33630 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33631 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u33631_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u33632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:312px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u33633 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u33633_img.selected {
}
#u33633.selected {
}
#u33633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33634 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:290px;
  height:20px;
}
#u33634_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:285px;
  white-space:nowrap;
}
#u33632_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33635 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:220px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33636 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:198px;
  height:20px;
}
#u33636_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:193px;
  white-space:nowrap;
}
#u33637 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:220px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33638 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:198px;
  height:20px;
}
#u33638_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:193px;
  white-space:nowrap;
}
#u33639 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:220px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33640 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:198px;
  height:20px;
}
#u33640_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:193px;
  white-space:nowrap;
}
#u33641 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:220px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33642 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:198px;
  height:20px;
}
#u33642_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:193px;
  white-space:nowrap;
}
#u33643 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:220px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33644 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:198px;
  height:20px;
}
#u33644_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:193px;
  white-space:nowrap;
}
#u33613_ann {
  border-width:0px;
  position:absolute;
  left:328px;
  top:130px;
  width:1px;
  height:1px;
}
#u33645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 139, 202, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33645 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:108px;
  width:65px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33645_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
#u33645_ann {
  border-width:0px;
  position:absolute;
  left:87px;
  top:104px;
  width:1px;
  height:1px;
}
#u33646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33647 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:134px;
  width:67px;
  height:140px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33647_ann {
  border-width:0px;
  position:absolute;
  left:328px;
  top:130px;
  width:1px;
  height:1px;
}
#u33648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u33648 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:108px;
  width:65px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u33648_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
#u33648_ann {
  border-width:0px;
  position:absolute;
  left:87px;
  top:104px;
  width:1px;
  height:1px;
}
#u33649 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:134px;
  width:39px;
  height:280px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 160, 245, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33650 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:434px;
  width:70px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u33650_ann {
  border-width:0px;
  position:absolute;
  left:638px;
  top:430px;
  width:1px;
  height:1px;
}
#u33651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u33652 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:106px;
  width:1200px;
  height:364px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u33652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:1200px;
  word-wrap:break-word;
}
#u33652_ann {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:102px;
  width:1px;
  height:1px;
}
#u33653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:197px;
}
#u33653 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:172px;
  width:324px;
  height:197px;
}
#u33653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33654 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:277px;
  width:74px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
