body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:516px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12038_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:518px;
  height:324px;
}
#u12038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:322px;
}
#u12038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12039 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:15px;
  width:183px;
  height:25px;
}
#u12039_input {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12040 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:25px;
  width:200px;
  height:5px;
}
#u12040_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
  -webkit-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
  box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
}
#u12040.selected {
}
#u12040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12041 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:25px;
  width:100px;
  height:5px;
  overflow:hidden;
  visibility:hidden;
}
#u12041_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:5px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(223, 234, 247, 1);
  background-image:none;
}
#u12041_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12042 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:69px;
  width:390px;
  height:17px;
}
#u12042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u12043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009DDA;
}
#u12043 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:8px;
  width:24px;
  height:16px;
  color:#009DDA;
}
#u12043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u12044 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:-4px;
  width:39px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12045 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:50px;
  width:277px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u12046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u12046 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:54px;
  width:12px;
  height:12px;
}
#u12046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12047 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:117px;
  width:485px;
  height:185px;
  overflow:hidden;
}
#u12047_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:185px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u12047_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:430px;
}
#u12049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u12049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12049_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:298px;
  word-wrap:break-word;
}
#u12050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:30px;
}
#u12050 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:0px;
  width:184px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12050_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:180px;
  word-wrap:break-word;
}
#u12051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
}
#u12051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:302px;
  height:40px;
  text-align:left;
}
#u12051_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u12052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u12052 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:30px;
  width:184px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12052_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u12053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
}
#u12053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:302px;
  height:40px;
  text-align:left;
}
#u12053_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u12054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u12054 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:70px;
  width:184px;
  height:40px;
  text-align:left;
}
#u12054_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:180px;
  word-wrap:break-word;
}
#u12055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
}
#u12055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:302px;
  height:40px;
  text-align:left;
}
#u12055_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u12056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u12056 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:110px;
  width:184px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12056_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:180px;
  word-wrap:break-word;
}
#u12057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
}
#u12057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:302px;
  height:40px;
  text-align:left;
}
#u12057_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u12058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u12058 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:150px;
  width:184px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12058_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u12059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
}
#u12059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:302px;
  height:40px;
  text-align:left;
}
#u12059_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u12060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u12060 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:190px;
  width:184px;
  height:40px;
  text-align:left;
}
#u12060_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:180px;
  word-wrap:break-word;
}
#u12061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
}
#u12061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:302px;
  height:40px;
  text-align:left;
}
#u12061_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u12062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u12062 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:230px;
  width:184px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12062_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:180px;
  word-wrap:break-word;
}
#u12063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
}
#u12063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:302px;
  height:40px;
  text-align:left;
}
#u12063_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u12064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u12064 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:270px;
  width:184px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12064_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u12065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
}
#u12065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:310px;
  width:302px;
  height:40px;
  text-align:left;
}
#u12065_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u12066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u12066 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:310px;
  width:184px;
  height:40px;
  text-align:left;
}
#u12066_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:180px;
  word-wrap:break-word;
}
#u12067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
}
#u12067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:302px;
  height:40px;
  text-align:left;
}
#u12067_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u12068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u12068 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:350px;
  width:184px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
#u12069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
}
#u12069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:390px;
  width:302px;
  height:40px;
  text-align:left;
}
#u12069_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u12070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:40px;
}
#u12070 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:390px;
  width:184px;
  height:40px;
  text-align:left;
}
#u12070_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:180px;
  word-wrap:break-word;
}
#u12071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12071 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:83px;
  width:485px;
  height:24px;
}
#u12071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12072 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:85px;
  width:267px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u12073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 102, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12073 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:329px;
  width:118px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12073_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u12074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 102, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12074 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:329px;
  width:118px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12074_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u12075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 102, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12075 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:329px;
  width:118px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12075_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
