body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:314px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23357_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:316px;
  height:155px;
}
#u23357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:153px;
}
#u23357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23358 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:111px;
  width:57px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:53px;
  word-wrap:break-word;
}
#u23359 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:14px;
  width:228px;
  height:80px;
}
#u23359_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:80px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23360 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:46px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 160, 245, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23361 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:111px;
  width:57px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:53px;
  word-wrap:break-word;
}
#u23361_ann {
  border-width:0px;
  position:absolute;
  left:207px;
  top:107px;
  width:1px;
  height:1px;
}
#u23363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:63px;
}
#u23364 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:41px;
  width:109px;
  height:63px;
}
#u23364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23365_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:14px;
  height:12px;
}
#u23365 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:101px;
  width:12px;
  height:10px;
}
#u23365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23367 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:49px;
  width:55px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u23368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.349019607843137);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23369 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:74px;
  width:34px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u23370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 160, 245, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23370 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:74px;
  width:34px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
