body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:432px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:207px;
}
#u8013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:207px;
}
#u8013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u8014 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:18px;
  width:61px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u8014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u8015 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:139px;
  width:78px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8015_ann {
  border-width:0px;
  position:absolute;
  left:403px;
  top:135px;
  width:1px;
  height:1px;
}
#u8016 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:139px;
  width:71px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8016_ann {
  border-width:0px;
  position:absolute;
  left:308px;
  top:135px;
  width:1px;
  height:1px;
}
#u8017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8017 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:21px;
  width:20px;
  height:20px;
}
#u8017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u8018 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:51px;
  width:350px;
  height:79px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u8018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  white-space:nowrap;
}
#u8019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  background:inherit;
  background-color:rgba(66, 139, 202, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8019 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:141px;
  width:173px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8019_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:169px;
  word-wrap:break-word;
}
#u8019_ann {
  border-width:0px;
  position:absolute;
  left:405px;
  top:137px;
  width:1px;
  height:1px;
}
#u8020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8020 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:51px;
  width:393px;
  height:85px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u8020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:393px;
  word-wrap:break-word;
}
#u8020_ann {
  border-width:0px;
  position:absolute;
  left:400px;
  top:47px;
  width:1px;
  height:1px;
}
